footer {
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #464646;
  padding: 10px; /* Ajuste de padding para melhor espaçamento */
  color: white; /* Texto em branco para melhor contraste */
}

.one, .redes-sociais {
  flex: 1;
  margin: 10px; /* Ajuste de margem para espaçamento adequado */
}

.one {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.redes-sociais {
  display: flex;
  justify-content: flex-end; /* Ajusta os links para a extremidade direita */
  gap: 10px; /* Espaçamento entre os ícones */
}

.redes-sociais a {
  margin: 0 5px;
}

.endereco, .zap {
  margin-top: 5px;
}
